# Roblox build artifacts
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock

# Wally
Packages/
ServerPackages/
DevPackages/
wally.lock

# Toolchain
sourcemap.json
globalTypes.d.luau
roblox.yml
roblox.toml

# OS
.DS_Store
Thumbs.db
